@model List<Services.ViewModels.ChatMessage>
@inject IHttpContextAccessor httpContextAccessor

<div class="offcanvas offcanvas-end" data-bs-backdrop="false" data-bs-keyboard="false"  tabindex="-1" id="ChatCanvas" aria-labelledby="ChatCanvas" >
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Chat</h5>
    <button type="button" class="btn-close text-reset" id="closeChat" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="chatDisplay d-flex flex-reverse pb-5 w-100 h-100 flex-column justify-content-end">
      @foreach(var item in Model)
      {
        if(item.IsSend)
        {
          <div class="mb-2 ms-auto text-break border-2 border sendMessage p-2 border-dark">
            <span>
                @item.Message
            </span>
            <span class="time">
                @item.Time
            </span>
          </div>
        }
        else
        {
          <div class="mb-2 me-auto text-break border-2 border reciveMessage p-2 border-dark">
            <span>
                 @item.Message
              </span>
              <span class="time">
                @item.Time
              </span>
          </div>
        }
      }
    </div>
    <div class="w-100 position-absolute bottom-0 mb-3 d-flex">
        <input id="messageInput" placeholder="Message">
        <button class="bg-white py-2 d-block mx-2 px-3" id="sendButton"><i class="bi bi-send"></i></button>
    </div>
  </div>
</div>
<script>
  localStorage.setItem("user", @httpContextAccessor.HttpContext.Session.GetInt32("aspNetUserId").Value);
</script>
<script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>