@model Services.ViewModels.Admin.TableModel

@{
    List<String> requesterBgColor = new List<String>() { "", "bg-danger", "bg-success", "bg-warning", "bg-primary", "bg-info" };
    List<String> requesterTextColor = new List<String>() { "", "text-danger", "text-success", "text-warning", "text-primary", "text-info" };
    List<String> requester = new List<String>() { "", "Business", "Patient", "Family", "Concierge", "VIP" };
}


<div class="table-responsive row">
    <table class="table">
        <thead>
            <tr>
                <th class="col-2 text-black">
                    Name
                </th>
                <th class="col-1 text-black">
                    Date Of Birth
                </th>
                <th class="col-1 text-black">
                    Requesters
                </th>
                <th class="col-1 text-black">
                    Physician Name
                </th>
                <th class="col-1 text-black">
                    Requested Date
                </th>
                <th class="col-2 text-black">
                    Phone
                </th>
                <th class="col-1 text-black">
                    Address
                </th>
                <th class="col-1 text-black">
                    Notes
                </th>
                <th class="col-1 text-black">
                    Chat With
                </th>
                <th class="col-1 text-black">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="text-white">
            @if(Model != null)
            {
                @foreach (var data in Model.TableDatas)
                {
                    <tr class="@requesterBgColor[data.Requester] align-middle">
                        <td>
                            <div class="d-flex justify-content-between  align-items-center">
                                @data.FirstName @data.LastName
                                <button class="bg-transparent text-white p-2 border-white btn">
                                    <i class="bi bi-envelope-fill"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            @data.BirthDate.ToString()
                        </td>
                        <td>
                            @requester[data.Requester], @data.RequesterFirstName @data.RequesterLastName
                        </td>
                        <td>
                            @data.PhysicianName
                        </td>
                        <td>
                            @data.RequestdDate
                        </td>
                        <td>
                            <button class="bg-transparent text-white p-2 border-white w-50 btn">
                                @data.Mobile
                            </button>
                            (Patient)
                            @if (data.Requester == 1 || data.Requester == 3 || data.Requester == 4)
                            {
                                <button class="bg-transparent text-white p-2 border-white w-50 btn">
                                    @data.RequesterMobile
                                </button>
                                <span>
                                    (@requester[data.Requester])
                                </span>
                            }
                        </td>
                        <td>
                            @data.Street, @data.City, @data.State, @data.ZipCode
                        </td>
                        <td>
                            @data.Notes
                        </td>
                        <td>
                            <button class="bg-transparent text-white p-2 border-white btn">
                                <i class="bi bi-person"></i>
                                Provider
                            </button>
                            <button class="bg-transparent text-white p-2 border-white btn">
                                <i class="bi bi-person"></i>
                                Patient
                            </button>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn p-2 btn-secondary dropdown-toggle bg-transparent text-white border-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item" onclick="navigatToViewCase(@data.RequestId)">
                                            View Case
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" onclick="navigatToViewDocuments(@data.RequestId)">
                                            View Uploads
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" onclick="displayPopUp(@data.RequestId)" data-bs-target="#transferRequest" data-bs-toggle="modal">
                                            Transfer Request
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" onclick="navigatToViewNotes(@data.RequestId)">
                                            View Notes
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" onclick="displayPopUp(@data.RequestId)" data-bs-target="#clearRequest" data-bs-toggle="modal">
                                            Clear Case
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" onclick="displaySendAgreementPopUp(@data.RequestId)" data-bs-target="#sendAgreement" data-bs-toggle="modal">
                                            Send Agreement
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="accordion row" id="accordionFlushExample">
    @if (Model != null)
    {
        @foreach (var data in Model.TableDatas)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed pb-5 fw-normal" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-@data.RequestId" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="col-7">
                            <div class="mb-2">
                                @data.FirstName @data.LastName
                            </div>
                            @data.Street, @data.City, @data.State, @data.ZipCode
                        </div>
                        <div class="col-5 d-flex align-items-end mx-2 flex-column">
                            <div class="mb-1 d-flex justify-content-center mapButton">
                                <span>
                                    @requester[data.Requester]
                                </span>
                                <i class="bi bi-circle-fill @requesterTextColor[data.Requester] mx-1"></i>
                            </div>
                            <div class="border border-1 rounded-pill d-flex justify-content-center p-2 border-primary mapButton">
                                Map Location
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="flush-@data.RequestId" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <button class="border border-1 rounded-pill d-flex justify-content-center p-2 border-primary viewcase bg-white fw-bold"
                            onclick="navigatToViewCase(@data.RequestId)">
                        View Case
                    </button>
                    <div class="mt-3">
                        <div>
                            <i class="bi bi-telephone-fill rounded-circle border border-1 border-primary p-2"></i>
                            <span class="h6">
                                Date of Borth: @data.BirthDate
                            </span>
                        </div>
                        <div class="mt-3">
                            <i class="bi bi-envelope-fill rounded-circle border border-1 border-primary p-2"></i>
                            <span class="h6">
                                Email: @data.Email
                            </span>
                        </div>
                        <div class="mt-3">
                            <i class="bi bi-telephone-fill rounded-circle border border-1 border-primary p-2"></i>
                            <span class="h6">
                                Patient: @data.Mobile
                            </span>
                        </div>
                        <div class="mt-3">
                            <i class="bi bi-person rounded-circle border border-1 border-primary p-2"></i>
                            <span class="h6">
                                Physician: 
                            </span>
                        </div>
                        <div class="mt-3">
                            <i class="bi bi-telephone-fill rounded-circle border border-1 border-primary p-2"></i>
                            <span class="h6">
                                Requester: @requester[data.Requester], @data.RequesterFirstName @data.RequesterLastName
                            </span>
                        </div>
                    </div>
                    <div class="row mt-3 px-3 mb-2">
                        <div class="px-2 col-md-4 col-sm-6 col-6">
                            <button class="w-100 bg-warning text-white fw-bold py-1" onclick="displaySendAgreementPopUp(@data.RequestId)" data-bs-target="#sendAgreement" data-bs-toggle="modal">
                                Send Agreement
                            </button>
                        </div>
                        <div class="px-2 col-md-4 col-sm-6 col-6">
                            <button class="w-100 bg-success text-white fw-bold py-1" onclick="navigatToViewNotes(@data.RequestId)">
                                View Notes
                            </button>
                        </div>
                        <div class="px-2 col-md-4 col-sm-6 col-6">
                            <button class="w-100 bg-primary text-white fw-bold py-1" onclick="displayPopUp(@data.RequestId)" data-bs-target="#transferRequest" data-bs-toggle="modal">
                                Transfer Request
                            </button>
                        </div>
                        <div class="px-2 col-md-4 col-sm-6 col-6">
                            <button class="w-100 bg-success text-white fw-bold py-1" onclick="navigatToViewDocuments(@data.RequestId)">
                                View Uploads
                            </button>
                        </div>
                        <div class="px-2 col-md-4 col-sm-6 col-6">
                            <button class="w-100 bg-warning text-white fw-bold py-1" onclick="displayPopUp(@data.RequestId)" data-bs-target="#clearRequest" data-bs-toggle="modal">
                                Clear Case
                            </button>
                        </div>
                        <div class="px-2 col-md-4 col-sm-6 col-6">
                            <button class="w-100 bg-success text-white fw-bold py-1">
                                Email
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
@if (Model != null)
{
    <div class="d-flex justify-content-between">
        Showing @Model.StartRange to @Model.EndRange of @Model.TotalRequests entries
        <div class="d-flex">
            <button class="border-0 rounded-0 fs-4 mx-2 bg-transparent" onclick="navigateToFirstPage()" disabled=@(!Model.IsFirstPage)>
                «
            </button>
            <button class="border-0 rounded-0 fs-4 mx-2 bg-transparent" onclick="getPreviousPageData(@Model.PageNo)" disabled=@(!Model.IsPreviousPage)>
                ‹
            </button>
            <button class="border-1 rounded-0 mx-2 px-3 currentPage">
                @Model.PageNo
            </button>
            <button class="border-0 rounded-0 fs-4 mx-2 bg-transparent" onclick="getNextPageData(@Model.PageNo,@Model.TotalRequests)"
                                      disabled=@(!Model.IsNextPage)>
                ›
            </button>
            <button class="border-0 rounded-0 fs-4 mx-2 bg-transparent" onclick="navigateToLastPage(@Model.TotalRequests)" disabled=@(!Model.IsLastPage)>
                »
            </button>
        </div>
    </div>
}
