@model List<Services.ViewModels.Admin.EmailSmsLogTableData>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="bg-transparent">
                    Recipient
                </th>
                <th class="bg-transparent">
                    Action
                </th>
                <th class="bg-transparent">
                    Role Name
                </th>
                <th class="bg-transparent">
                    Phone Number
                </th>
                <th class="bg-transparent">
                    Crated Date
                </th>
                <th class="bg-transparent">
                    Send Date
                </th>
                <th class="bg-transparent">
                    Sent
                </th>
                <th class="bg-transparent">
                    Sent Tries
                </th>
                <th class="bg-transparent">
                    Conformation Number
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="align-middle bg-white">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Action
                    </td>
                    <td>
                        @item.RoleName
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.CreatedDate.ToString("MMM dd,yyy hh:mm tt")
                    </td>
                    <td>
                        @item.SendDate.ToString("MMM dd,yyy")
                    </td>
                    <td>
                        @item.Send
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        -
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@foreach (var item in Model)
{
    <div class="accordion accordion-flush w-100" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-@item.Id" aria-controls="panelsStayOpen-collapseOne">
                    <div class="d-flex flex-column align-items-baseline">
                        @item.Name
                        <div>
                            Action : @item.Action
                        </div>
                        <div>
                            Phone : @item.Phone
                        </div>
                    </div>
                </button>
                <hr class="h1">
            </h2>
            <div id="panelsStayOpen-@item.Id" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body row">
                    <div>
                        <i class="bi bi-person-fill rounded-circle border border-1 border-primary p-2"></i>
                        <span class="h6">
                            Reole Name : @item.RoleName
                        </span>
                    </div>
                    <div class="mt-4">
                        <i class="bi bi-envelope rounded-circle border border-1 border-primary p-2"></i>
                        <span class="h6">
                            Crated Date : @item.CreatedDate.ToString("MMM dd,yyy hh:mm tt")
                        </span>
                    </div>
                    <div class="mt-4">
                        <i class="bi bi-telephone rounded-circle border border-1 border-primary p-2"></i>
                        <span class="h6">
                            Send Date : @item.SendDate.ToString("MMM dd,yyy")
                        </span>
                    </div>
                    <div class="mt-4">
                        <i class="bi bi-geo-alt rounded-circle border border-1 border-primary p-2"></i>
                        <span class="h6">
                            Sent : @item.Send
                        </span>
                    </div>
                    <div class="mt-4">
                        <i class="bi bi-pin-map rounded-circle border border-1 border-primary p-2"></i>
                        <span class="h6">
                            Send Tries : 1
                        </span>
                    </div>
                    <div class="mt-4">
                        <i class="bi bi-check-lg rounded-circle border border-1 border-primary p-2"></i>
                        <span class="h6">
                            Conformation Number : -
                        </span>
                    </div>
                    <hr class="h1 mt-3">
                </div>
            </div>
        </div>
    </div>
}