@model Services.ViewModels.Physician.InvoicePage

@{
    Layout = "_PhysicianLayout";
    ViewData["Title"] = "Invoice";
    ViewBag.CssFile = "/css/admin/providers.css";
    ViewBag.JsFile = "/js/Physician/invoice.js";
    ViewBag.Header = "_PhysicianDashboardHeader";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-2 mb-3">
        <h3>
            Invoice
        </h3>
        <a asp-controller="Physician" asp-action="Dashboard">
            <button class="bg-white px-3 fw-bold py-2" onclick="setTab(4)">
                <i class="bi bi-chevron-left"> </i>
                Back
            </button>
        </a>
    </div>
    <div class="providerList">
        <div class="d-flex justify-content-between align-items-center mt-2 mb-3">
            <select>
                @foreach(var date in Model.Dates)
                {
                    <option value="@date.Key">@date.Key.ToString("MM/dd/yyy") - @date.Key.AddDays(14).ToString("MM/dd/yyy")</option>
                    <option value="@date.Key.AddDays(15)">@date.Key.AddDays(15).ToString("MM/dd/yyy") - @date.Value.ToString("MM/dd/yyy")</option>
                }
            </select>
            @if(Model.StartDate == null)
            {
                <button class="bg-white px-3 fw-bold py-2">
                    Finalize Time-sheet
                </button>
            }
        </div>
        <partial name="_WeeklyTimeSheet" model="@Model.CreateInvoice" />
    </div>
</div>